/*
  NO HACE FALTA TOCAR NADA DE ACÁ PARA QUE EL EJEMPLO FUNCIONE,
  PERO PUEDEN CAMBIAR ESTILOS A SU GUSTO.
  Nota: Al final de todo hay 2 animaciones pre-definidas.
        Pueden analizar el código y buscar un poco más en Internet
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
  
}
h1 {
  font-family: "Sedgwick Ave Display", cursive;
  filter: drop-shadow(0 0 1rem white);
  font-size: 3rem;
}

#wall {
  height: 100%;
  width: 100%;
  /* background: url("../img/brickwall.png"); */
  /* background: url("../img/brickwall2.jpg"); */
  background-size: cover;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
  grid-auto-rows: 200px;
  overflow: auto;
  /* box-shadow: 0px 0px 20px rgb(32, 32, 32); */
}
body{
  background: url("../img/brickwall2.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.mensaje {
  position: relative;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 1.75rem;
  text-shadow: 0px 0px 2px black, 0px 0px 8px crimson, 0px 0px 1rem #15448e;
  
}
.mensaje.graffiti {
  display: grid;
  align-content: center;
}
.mensaje.graffiti p{
  transform: rotateZ(-25deg);
}

.mensaje.poster {
  padding-left: 15%;
  background-color: rgb(246, 209, 88);
  clip-path: polygon(8% 49%, 5% 5%, 100% 0, 95% 46%, 95% 88%, 63% 92%, 0 100%);
}

 .close:hover {
  transform: scale(2);
  color: hotpink;
}

.close {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: transform 0.4s;
  z-index: 9;
}




#alta-graffiti {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


#alta-graffiti form {
  padding: 1rem;
  min-height: 50%;
  border-radius: 1rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.582);
  box-shadow: 0 0px 32px 0 rgba(24, 140, 248, 0.37);
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Roboto", cursive;
}
#alta-graffiti fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
#alta-graffiti label {
  text-align: center;
}
#alta-graffiti *[type="submit"] {
  padding: 0.5rem 1rem;
  margin: auto;
}


#is-poster{
  display: none;
}

#is-poster + label{
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 0.5rem 0px aliceblue;
  cursor: pointer;
  user-select: none;
  transition: background-color .8s, box-shadow .6s;
}
#is-poster + label:hover{
  
  box-shadow: 0 0 0.85rem 4px aliceblue;
}

#is-poster+ label:after{
  content: " graffiti 🥫";
}
#is-poster:checked + label{
  background-color: #15448e;
  color: aliceblue;
}
#is-poster:checked + label:after{
  content: ' poster 📄';
}

/* From cssbuttons.io by @barisdogansutcu */
form button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 3px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid #27ae60;
  text-shadow: 0px -2px #27ae60;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
 }
 
 form button:hover, form button:active {
  -webkit-transform: translate(0px,5px);
  -ms-transform: translate(0px,5px);
  transform: translate(0px,5px);
  border-bottom: 1px solid #2ecc71;
 }


 form span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  background-color: rgba(100,77,237,0.08);
  border-radius: 1.25em;
  transition: all 0.2s linear;
 }
 
 form span:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
   8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
   17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
   36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
   99px 72px 143px rgba(0, 0, 0, 0.08);
 }

 
 .tooltip {
  position: relative;
  display: inline-block;
 }
 
 .tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
 }
 
 .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
  visibility: visible;
 }












/* MEDIA QUERIES */
@media (min-width: 768px) {
  #wall {
    width: 50%;
  }
  #alta-graffiti {
    width: 50%;
  }
}
@media (min-width: 992px) {
  body{
    background: url("../img/brickwall.png");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
  
  }
  #wall {
    width: 60%;
  }
  #alta-graffiti {
    width: 35%;
  }
}


/* ANIMACION */

@keyframes skewed {
  0%,
  100% {
    transform: skew(45deg);
  }
  25% {
    transform: skew(-10deg);
  }
  50% {
    transform: skew(0deg);
  }
  75% {
    transform: skew(35deg);
  }
  90% {
    transform: skew(15deg);
  }
}

@keyframes colorShift {
  0%,
  100% {
    color: rgb(255, 0, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  66% {
    color: rgb(8, 0, 255);
  }
}

h1 > * {
  display: inline-block;
  animation: colorShift 3s infinite;
}
h1 > *:nth-child(2n) {
  animation-delay: 0.6s;
  animation-direction: alternate;
}
h1 > *:nth-child(3n) {
  animation-delay: 0.4s;
  animation-direction: reverse;
}
